<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Opciones para aprender neurocomputacion</h1>
    <h2>Review papers and documents - state of the art</h2>
    <h2>Books</h2>
    <ul>
        <li>
         Theorethical Neuroscience - Peter Dayan and L.E. Abbot   
        </li>
        <li>

        </li>
    </ul>
    <h2>Online courses</h2>
    <h2>Programs</h2>
    <ul>
        <li>6-9 MIT</li>
    </ul>
    <h2>Benchmarks (only one lol)</h2>
    <ul><li>Neural latents benchmark</li></ul>
    <h2>Useful libraries</h2>
    <ul><li>MNE (MEG+EEG analysis and visualization) - saves time</li></ul>
    <h2>Datasets</h2>
    <ul>
        <li>GIGA</li>
        <li>Ninapro</li>
        <li>Maze (NLB21)</li>
        <li>Reach (NLB21)</li>
    </ul>
    <h2>Websites</h2>
    <ul>
        <li>

        </li>
    </ul>

    
</body>
</html>